/*========== CSS Reset ==========*/
h1,
h2,
h3 {
  font-family: var(--body-font);
  color: var(--firstColor);
  font-weight: var(--wgt-semi-bold);
}
ul {
  list-style: none;
}
a {
  color: var(--activeNumColor);
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*========== Base Layout ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--bodyColor);
  color: var(--activeNumColor);
}
button,
input {
  padding: 0.6rem;
  font-family: var(--input-btn-font);
  font-size: var(--normal-font-size);
  border-radius: var(--border-inside-radius);
}
button {
  text-transform: uppercase;
  background-color: var(--firstColor);
  color: var(--btnTxtColor);
  font-weight: 500;
}
input {
  border: 1px var(--inactiveNumColor) solid;
  color: var(--placeholderColor);
}
input:valid {
  border: 1px var(--firstColor) solid;
  color: var(--activeNumColor);
}
