.sevSegDisplay {
  width: var(--c-w);
  height: var(--c-h);
  position: relative;
}

.sevSegDisplay seg {
  background-color: var(--inactiveNumColor);
  border-radius: var(--bar-r);
  height: var(--bar-h);
  width: var(--bar-w);
}

.sevSegDisplay seg:nth-of-type(3n + 1) {
  height: var(--bar-w);
  width: var(--bar-h);
  left: 50%;
  margin-left: calc(var(--bar-h) / -2);
}

.sevSegDisplay seg:nth-of-type(1) {
  position: absolute;
  top: var(--padding);
}

.sevSegDisplay seg:nth-of-type(2) {
  position: absolute;
  top: var(--bar-p);
  right: var(--padding);
}

.sevSegDisplay seg:nth-of-type(3) {
  position: absolute;
  bottom: var(--bar-p);
  right: var(--padding);
}

.sevSegDisplay seg:nth-of-type(4) {
  position: absolute;
  bottom: var(--padding);
}

.sevSegDisplay seg:nth-of-type(5) {
  position: absolute;
  bottom: var(--bar-p);
  left: var(--padding);
}

.sevSegDisplay seg:nth-of-type(6) {
  position: absolute;
  top: var(--bar-p);
  left: var(--padding);
}

.sevSegDisplay seg:nth-of-type(7) {
  position: absolute;
  top: 50%;
  margin-top: calc(var(--bar-r) * -1);
}

input[value='0'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='0'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='0'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='0'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='0'] ~ seg:nth-of-type(5) {
  background-color: var(--activeNumColor);
}
input[value='0'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}

input[value='1'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='1'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}

input[value='2'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='2'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='2'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='2'] ~ seg:nth-of-type(5) {
  background-color: var(--activeNumColor);
}
input[value='2'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='3'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='3'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='3'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='3'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='3'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='4'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='4'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='4'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}
input[value='4'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='5'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='5'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='5'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='5'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}
input[value='5'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='6'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='6'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='6'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='6'] ~ seg:nth-of-type(5) {
  background-color: var(--activeNumColor);
}
input[value='6'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}
input[value='6'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='7'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='7'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='7'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}

input[value='8'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(5) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}
input[value='8'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}

input[value='9'] ~ seg:nth-of-type(1) {
  background-color: var(--activeNumColor);
}
input[value='9'] ~ seg:nth-of-type(2) {
  background-color: var(--activeNumColor);
}
input[value='9'] ~ seg:nth-of-type(3) {
  background-color: var(--activeNumColor);
}
input[value='9'] ~ seg:nth-of-type(4) {
  background-color: var(--activeNumColor);
}
input[value='9'] ~ seg:nth-of-type(6) {
  background-color: var(--activeNumColor);
}
input[value='9'] ~ seg:nth-of-type(7) {
  background-color: var(--activeNumColor);
}
